/* Характеристики изображения */
img {
    width: 500px;                   /* размер */
    display: block;                 /* изменение формата из строчного в блочный */
    margin: 0 auto;                 /* выравнивание по центру */
}

/* Характеристики главного заголовка "Characterization of the characters"*/
h1 {
    font-size: 60px;                /* размер текста */
    text-align: center;             /* выравнивание текста по центру */
    margin: 0;                      /* отступы от границы нулевые */
    padding: 1px 0;                 /* отступ от других элементов сверху в один пиксель */
    color: rgb(63, 63, 191);      /* цвет текста синий 8*/
    text-shadow: 3px 3px 0 black; /* тень для текста черного цвета со сдвигом вправо и вниз на 3 пикселя, без размытия (0) */
}

/* Характеристики подзагаловка "Arwen (also Rauta, Vana, Nielle)" */
h2 {
    font-size: 30 px;       /* изменение размера */
    text-align: center;     /* центрирование текста */
}

/* Харакатеристики текста под фоткой "Arwen. The age is about 16 years old."*/
p {
    font-size: 20px;        /* размер текста */
    text-align: center;     /* центрирование текста */
}

/* Характеристики кнопки */
#кнопка {
    text-align: center;     /* центрирование кнопки */
}

/* Характеристики всех текстов и фотки (пространства за ними)*/
body {
    width: 1200px;      /* ширина подложки */
    margin: 0 auto;
    padding: 40px 40px 40px 40px;
    background-color: white;
}

/* Характеристики всего пространства */
html {
    font-family: 'Young Serif', serif;
    letter-spacing: 2px;
    background-color: rgb(63, 63, 191);
}